:root {
  --color-veryDarkBlue: hsl(233, 47%, 7%);
  --color-deSaturatedBlue: hsl(244, 38%, 16%);
  --color-accent: hsl(277, 64%, 61%);
}

/* Typography */

body {
  background: var(--color-veryDarkBlue);
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 1rem;
  font-family: "Inter", sans-serif;
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 0.75rem;
}
